* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#usersadmin {
    position: relative;
	height: 100vh;
	width: 100%;
    top: 50px;
	background-color: rgb(25, 0, 45);
	
}

#usersadmin .transparent-table {
	background-color: transparent;
	color: white;
	
	
}
#usersadmin .transparent-table th,
#usersadmin .transparent-table td {

	background-color: transparent;
	color: white;
	
}


