* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#main {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

.hero-img {
	position: relative;
	background-image: url('../../assets/images/notes.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.hero-shadow {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(1, 1, 1, 0.8);
	z-index: 0;
}

.box-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	z-index: 2;
}

.hero {
	position: relative;
	height: 100%;
	width: 50%;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100%;
	width: 50%;
	color: rgb(0, 0, 0);
	padding: 2.6rem;
	border: solid 2px black;
	border-radius: 15px;
	background-color: rgb(238, 235, 235);
}

.login-form {
	background-color: rgb(255, 255, 255);
	padding: 3em;
	box-shadow: 1px 1px 20px rgb(146, 144, 144);
}

#main .BtnLogin {
	margin-top: 1.2em;
	background-color: rgb(105, 9, 201);
	width: 100%;
}

Form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-form .custom-form-control {
	position: relative;
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(0px);
	-webkit-backdrop-filter: blur(0px);
	border: 1px solid rgba(255, 255, 255, 0.4);
}

.login-icon {
	font-size: 80px;
	color: rgb(105, 9, 201);
	margin-bottom: 2.2rem;
}
.login-text {
	color: rgb(105, 9, 201);
}
