* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#todosectionadmin {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(25, 0, 45);
	height: 100vh;
	width: 100%;
	color: white;
	margin-top: 50px;
}

.form-box--text {
	display: flex;
}

.form-bottom {
	display: flex;
	width: 100%;
}
#todosectionadmin .transparent-table,
#todosectionadmin .transparent-table th,
#todosectionadmin .transparent-table td {
	background-color: transparent;
	color: white;
}

.todo-box--admin {
	position: relative;
	margin-top: 220px;
}
.form-button--admin {
	display: flex;
	justify-content: space-between;
	height: 40px;
	width: 100%;
}

.BtnSort {
	height: 100%;
}

.date,
.status {
	width: 50%;
}
